
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default
$color-primary: #fd5750 !default
$color-secondary: #000000 !default
$color-tertiary: #444545 !default
$color-quaternary: #e2dcde !default
$color-quinary: #f4f5f6 !default

.color-initial
    color: $color-initial

.color-primary
    color: $color-primary

.color-secondary
    color: $color-secondary